body{
    text-align: center;
}
img{
    width: 100%;
    margin-top: 40px;
}
img.bn{
    margin-top: 0px;
}
img.line_at,img.line_fb{
    width: 30%;
}
.navbar-collapse{
    justify-content: center;
}

.nav-link{
    margin: 0 40px;
}

.og_color{

    color: rgb(255,154,0);
}
section{
    padding: 30px;
}
.block_set{
    padding-top: 40px;
}
.block_set p{
    font-size: 20px;
    margin-bottom: 0;
}
h2 {
    font-size: 4rem;
    position: relative;
}
span.back::before{
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    right: -30px;
}

span.back::after{
    content: '';
    display: block;
    width: 400px;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -20px;
    right: -30px;
}
span.front::before{
    content: '';
    display: block;
    width: 400px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: -20px;
    left: -30px;
}

span.front::after{
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: -10px;
    left: -30px;
}

footer{
    background: #000;
    padding: 10px;
}

footer img{
    width: 50px;
    margin: 0;
}
footer p{
    color: #fff;
}